body {
  position: relative;
}

.left-bar, .right-bar {
  position: absolute;
  top: 0;
}

.right-bar {
  left: 13.04%;
  width: calc(100% - 13.04%) !important;
}

.bar-item {
  line-height: 40px;
  height: 39px;
  padding: 0 10px 0 20px;
}

.item-accent {
  background-color: rgba(0, 0, 0, 0.1);
}

.inline-button {
  cursor: pointer;
}
.inline-button:hover {
  color: #d97aa6;
}

.item-bold {
  font-weight: bold;
}

.left-bar {
  font-size: 0.75rem;
  width: 13.04%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: Helvetica, sans-serif;
}

.page-manager-header {
  width: 100%;
  height: 40px;
}
.page-manager-header__title {
  order: 0;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  margin: 0;
}
.page-manager-header__title-item {
  font-size: inherit;
  font-weight: 400;
  line-height: inherit;
  margin: 0;
}
.page-manager-header__title-control {
  margin-left: auto;
  font-weight: bold;
  line-height: inherit;
}

.page-manager-body {
  width: 100%;
  height: calc(30% - 40px);
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
}
.page-manager-body::-webkit-scrollbar {
  width: 8px;
}
.page-manager-body::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
}
.page-manager-body::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}
.page-manager-body__title {
  order: 0;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  margin: 0;
}
.page-manager-body__title-item {
  font-size: inherit;
  font-weight: 400;
  line-height: inherit;
  margin: 0;
}
.page-manager-body__title-control {
  margin-left: auto;
  font-weight: bold;
  line-height: inherit;
}
.page-manager-body__item {
  order: 1;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  padding: 0 10px 0 20px;
}
.page-manager-body__item-control {
  line-height: inherit;
  margin-left: 5px;
}
.page-manager-body__item-title + .page-manager-body__item-control {
  margin-left: auto;
}

.tab-manager {
  height: 70%;
}
.tab-manager__tab-names {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}
.tab-manager__tab-names .name {
  cursor: pointer;
  padding: 14px 15px 11px;
}
.tab-manager__tab-names .name.js__active-tab {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-bottom: none;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.tab-manager__tab-bodies {
  height: calc(100% - 41px);
}
.tab-manager__tab-bodies .body {
  width: 100%;
  height: 100%;
  display: none;
  position: relative;
}
.tab-manager__tab-bodies .body.js__active-tab {
  display: block;
}
.tab-manager__tab-bodies .body__search {
  position: relative;
  padding: 11px 0 9px 35px;
  width: 100%;
  background: url("./assets/search-solid.svg") 10px 10px no-repeat rgba(0, 0, 0, 0.1);
  border: 0;
  box-shadow: none;
  color: #b9a5a6;
  box-sizing: border-box;
  margin-bottom: 10px;
}
.tab-manager__tab-bodies .body__content {
  height: calc(100% - 35px);
  overflow-y: auto;
}

/*# sourceMappingURL=style.css.map */
